:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-color: #ffffff;
  --primary-color: #4d5ae5;
  --accent-color: #404bbf;
  --light-background-color: #e5e5e5;
  --secondary-color: #f4f4fd;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  outline: 3px solid tomato;

  display: flex;

  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header  */
.page-header {
  background-color: var(--white-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 40px;
}

.nav-item:first-child {
  margin-left: 76px;
}

.contacts-item {
  margin-left: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-item:first-child {
  margin-left: 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo-color {
  color: var(--secondary-text-color);
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-info:hover,
.contact-info:focus {
  color: var(--accent-color);
}

/* Hero section  */

.hero-section {
  background-color: var(--secondary-text-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}
/* Section Advantages  */

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Section Projects  */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* our team  */

.team-section {
  background-color: var(--secondary-color);
}

.list-item {
  background-color: var(--white-color);
}

/* footer  */
.footer {
  width: 1440px;
  height: 312px;
  background-color: var(--secondary-text-color);
}

.footer-logo {
  color: var(--secondary-color);
}

.footer-text {
  color: var(--secondary-color);
}

/* portfolio page  */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: 48px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
